<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style.css" , type="text/css")
        title Home
    body
        
        
        h1 HOME
        h2 Welcome Home #{email}
        .menu
            .m
                a(href="/home") HOME 
                a(href="/addTodo")  ADDTODO 
                a(href="/register") REGISTER 
                a(href="/login") LOGIN 
                a(href="/logout")  LOGOUT 

        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe numquam impedit culpa nulla rerum. Ratione veritatis fugiat reiciendis libero cum velit magnam provident. Eveniet est minima voluptates iste voluptas sint porro vero, commodi libero ipsam totam iusto earum labore architecto sit omnis obcaecati accusantium molestiae? Non facere excepturi explicabo officiis consequuntur reprehenderit tempore, velit ab sapiente quaerat. Minima nobis ratione necessitatibus repudiandae, architecto facere rerum assumenda accusantium, ipsum magni, molestiae officia nostrum! Mollitia sapiente eaque consequuntur fugiat, quo quaerat incidunt?
        