<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style.css" , type="text/css")
        title Login

    body
        h1 Login  
        h2 Enter your Password
        .menu
            .m
                a(href="/home") HOME 
                a(href="/addTodo")  ADDTODO 
                a(href="/register") REGISTER 
                a(href="/login") LOGIN 
                a(href="/logout")  LOGOUT 
        div
            form(action="login" method="POST")
                input(type="text", name="email" placeholder="email"  class="email")
                input(class="password" type="password", name="password" placeholder="password" class="password")
                button(type="submit") Login
            